#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  docuseal-app.service
BindsTo=docuseal.service
After=docuseal.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/database.env
EnvironmentFile=-%S/state/app.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/docuseal-app.pid %t/docuseal-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/docuseal-app.pid \
    --cidfile %t/docuseal-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/docuseal.pod-id --replace -d --name  docuseal-app \
    --volume docuseal-app:/data/docuseal:Z \
    --env=DOCUSEAL_* \
    --env=HOST=${HOST} \
    --env DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_ROOT_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}" \
    ${DOCUSEAL_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/docuseal-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP docuseal-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/docuseal-app.ctr-id
PIDFile=%t/docuseal-app.pid
Type=forking

[Install]
WantedBy=default.target
